@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
    {
        <div>
            <p>Input path</p>
            <input type="text">
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>   
    }
    
</div>